$color-black: #1A1A1A;
$color-white: #fff;
$color-brown: #3A3734;
$color-light-brown: #D7BE9D;
$color-gray: #737373;
$color-gray-light1: #C4C4C4;
$color-gray-light2: #E9E9E9;
$color-red-dark: rgba(255, 0, 0, 0.3);
$color-red-light: #FF0000;

//// GALERIE VARIABLES
$mobile-img-width: calc((100vw - 6.5rem) / 2);
$desktop-img-width: calc((100vw - 24.5rem) / 4);
